.container{
  background: rgb(223, 228, 228);
  padding: 14px 14px;
  text-align: center;
  color: rgb(32, 20, 122);
  border-radius: 14px;
  display: block;
  width: 100%;
}
h2{
  font-weight: 800;
  letter-spacing: -1px;
}
button{
  border-radius: 10px;
  color: black;
  background: rgb(255, 181, 7);
  border: none;

  font-size: 15px;
}
.table {
    font-size: 14px;
    border-bottom: solid 2px ;
    color:  rgb(32, 20, 122);
    padding: 16px;
  }
  
  .table tr,
  .table td {

    height: 10px;
    text-align: center;
  }
  