<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
<h3>ABC-UNIVERSITY</h3>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/quiz" routerLinkActive="active">
                        <i class="bi bi-house-fill h6"></i>quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin-result" routerLinkActive="active">
                        <i class="bi bi-card-list h6"></i> View Results
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list-question" routerLinkActive="active">
                        <i class="bi bi-calendar-week-fill h6"></i>Questions</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/list-user" routerLinkActive="active">
                        <i class="bi bi-people-fill h6"></i>Users</a>
                </li>


            </ul>
        </div>
        <div>
            <button class="btn btn-outline-primary" style="margin-right: 10px;" routerLink="/login" type="submit">
                Login
            </button>
            <button class="btn btn-outline-primary" routerLink="/register">
                Register
            </button>
        </div>
    </div>
</nav>