<div class="container">
    <div class="col-md-6">
      <h2 class="text-center">{{ QuestionFormLabel }}</h2>
  
      <form [formGroup]="addForm">
  
        <!-- <div class="form-group">
          <label for="id">Question Id:</label>
          <input type="number" formControlName="questionId" class="form-control" />
        </div> -->
  
      
        <div class="form-group">
          <label for="questionString">Question:</label>
          <input
            formControlName="questionString"
            placeholder="questionString"
            name="questionString"
            class="form-control"
            id="questionString"
          />
        </div>
  
        <span
          class="help-block"
          *ngIf="
            addForm.get('questionString')?.hasError('required') &&
            addForm.get('questionString')?.touched
          "
        >
          Question is required.
        </span>
  
        <div class="form-group">
          <label for="category">Category:</label>
          <input
            formControlName="category"
            placeholder="category"
            name="category"
            class="form-control"
            id="category"
          />
        </div>
  
        <span
          class="help-block"
          *ngIf="
            addForm.get('category')?.hasError('required') &&
            addForm.get('category')?.touched
          "
        >
         Category is required.
        </span>
  
        <div class="form-group">
          <label for="marks">Marks:</label>
          <input
            formControlName="marks"
            placeholder="1-3"
            name="marks"
            class="form-control"
            id="marks"
          />
        </div>
  
        <span
        class="help-block"
        *ngIf="
          addForm.get('marks')?.hasError('required') &&
          addForm.get('marks')?.touched
        "
      >
        Marks is required.
      </span>
  
        
  
        <div class="form-group">
          <label for="option1">Option 1:</label>
          <input
            formControlName="option1"
            placeholder="option1"
            name="option1"
            class="form-control"
            id="option1"
          />
        </div>
  
        <span
        class="help-block"
        *ngIf="
          addForm.get('option1')?.hasError('required') &&
          addForm.get('option1')?.touched
        "
      >
        Option 1 is required.
      </span>

      <div class="form-group">
        <label for="option2">Option 2:</label>
        <input
          formControlName="option2"
          placeholder="option2"
          name="option2"
          class="form-control"
          id="option2"
        />
      </div>

      <span
      class="help-block"
      *ngIf="
        addForm.get('option2')?.hasError('required') &&
        addForm.get('option2')?.touched
      "
    >
      Option 2 is required.
    </span>

    <div class="form-group">
        <label for="option3">Option 3:</label>
        <input
          formControlName="option3"
          placeholder="option3"
          name="option3"
          class="form-control"
          id="option3"
        />
      </div>

      <span
      class="help-block"
      *ngIf="
        addForm.get('option3')?.hasError('required') &&
        addForm.get('option3')?.touched
      "
    >
      Option 3 is required.
    </span>
  
    <div class="form-group">
        <label for="option4">Option 4:</label>
        <input
          formControlName="option4"
          placeholder="option4"
          name="option4"
          class="form-control"
          id="option4"
        />
      </div>

      <span
      class="help-block"
      *ngIf="
        addForm.get('option4')?.hasError('required') &&
        addForm.get('option4')?.touched
      "
    >
      Option 4 is required.
    </span>

    <div class="form-group">
        <label for="answer">Answer:</label>
        <input
          formControlName="answer"
          placeholder="answer"
          name="answer"
          class="form-control"
          id="answer"
        />
      </div>

      <span
      class="help-block"
      *ngIf="
        addForm.get('answer')?.hasError('required') &&
        addForm.get('answer')?.touched
      "
    >
      Option 1 is required.
    </span>

        <br />
        <button
          class="btn btn-success"
          [disabled]="addForm.invalid"
          (click)="onSubmit()"
        >
          Save
        </button>
  
      
      </form>
    </div>
  </div>
  